#container{
    margin: 20px;
    color: #020033;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loginForm input, #registerForm input {
    margin-bottom: 10px; 
    margin-top: 10px; 
}

#containter h1{
    margin-left:20px;
    font-weight: 600
}

button{
    margin-top:10px;
}

.error{
    color:red;
}

input[type="text"], input[type="password"],  input[type="email"]{
    background-color: #efefef;
}

